# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Looup in Dash': 'dash:lookup'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Dash'
      'submenu': [
        { 'label': 'Lookup in Dash', 'command': 'dash:lookup' }
      ]
    ]
  }
]
